.footer {
  &__outer {
    background-color: var(--pale);
  }
  &__wrapper {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    color: var(--white);
    @media (max-width: 1024px) {
      max-width: 794px;
      margin: 0 auto;
    }
  }
  &__info {
    margin-bottom: 0.5rem;
    display: block;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  &__policy {
    text-decoration: underline;
  }
}
